
<div class="row">
    <div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Employee ID</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" class="form-control" id="EmployeeSearchItem_Id" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Show Salary With Bonus" id="btn_Show" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Highlight Salary" id="btn_HighlightSalary" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="submit" class="btn btn-info" value="Highlight Name" id="btn_HighlightName" />
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="employees" class="table table-bordered table-hover">
                    <thead class="">
                        <tr>
                            <th class="text-center">Id</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Position</th>
                            <th class="text-center">SalaryAmount</th>
                            <th class="text-center">JoiningDate</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<partial name="_ModalPartial" />

@section Styles{
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
    <style>
        .color-green{
            background-color: green;
            color: white;
            border-radius: 10px;
            padding: 5px;
        }
    </style>
}

@section Scripts{
    <script src="~/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>

    <script>
        $(function () {
            $('#employees').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    url: "/Employee/GetEmployeeData",
                    type: "GET",
                    data: function (d) {
                        d.SearchItem = {
                            Id: $("#EmployeeSearchItem_Id").val(),
                        }
                    },
                },
                "columnDefs": [
                    {
                        targets: 1,
                        className: "dt-center ",
                        render: function (data, type, row) {
                            return `<span class="nameData">${data}</span>`;
                        }
                    },
                   
                    {
                        targets: 3,
                        className: "dt-center",
                        render: function (data, type, row) {
                            return `<span class="salaryData">${data}</span>`;
                        }
                    },

                ]
            });
        });

        $("#btn_Show").click(function () {
            var isNumber = $("#EmployeeSearchItem_Id").val();
            if ($.isNumeric(isNumber) == false) {
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Please provide valid employee id');
                modal.modal('show');
            }
            else {
                $('#employees').DataTable().ajax.reload(null, false);
            }

        });

        $("#btnCancel, .close").click(function () {
            var modal = $("#modal-default");
            modal.modal('hide');
        });


        $("#btn_HighlightName").click(function () {
            $(".nameData").addClass("color-green");
            $(".salaryData").removeClass("color-green");
        });

        $("#btn_HighlightSalary").click(function () {
            $(".salaryData").addClass("color-green");
            $(".nameData").removeClass("color-green");
        });

    </script>
}